#title {
    -fx-font-size: 70px;
}

.button {
    -fx-font-size: 22px;
    -fx-font-weight: bold;

    -fx-background-color: -primary-button-background;

    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 10, 0, 0, 4);
}

.button:hover {
    -fx-background-color: -primary-button-background-hover;
}